body{
    background-image: url("anh2.jpg");
    background-size: cover;
}

#point{
    width: 300px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    color: #d7d71b;
    font-size: 30px;
}
#questionScreen img{
    display: block;
    width: 250px;
    height: 250px;
    margin: 10px auto;
}
#styleTime{
    background-color: #47dc5f;
    font-size: 30px;
    width: 350px;
    border-radius: 10px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    color: #0b0c0b;
}

#timeCountDown{
    background-color: #e72626;
    font-size: 30px;
    width: 350px;
    border-radius: 10px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    color: #eaea2b;
}

#question{
    /*display: inline;*/
    background: #e72626;
    width: 80%;
    height: 100px;
    text-align: center;
    border-radius: 100px;
    margin: 100px auto 50px auto;
    padding: 5px;
    font-size: 30px;
}

#answer{
    width: 600px;
}

button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    background-color: #0aa20a;
    color: black;
    border-radius: 80px;
}

button:hover {
    background-color: #e0e744;
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

.an_ {
    height: 50px;
    width: 500px;
    padding: 10px;
    margin-left: 120px;
}


